USE [master]
GO
/****** Object:  Database [dbreserva]    Script Date: 14/04/2017 13:37:04 ******/
CREATE DATABASE [dbreserva]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBRESERVA_MDF', FILENAME = N'C:\dbreserva\DBRESERVA.MDF' , SIZE = 15360KB , MAXSIZE = 256000KB , FILEGROWTH = 10240KB ), 
( NAME = N'DBRESERVA_NDF', FILENAME = N'C:\dbreserva\DBRESERVA.NDF' , SIZE = 15360KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10240KB )
 LOG ON 
( NAME = N'DBRESERVA_LDF', FILENAME = N'C:\dbreserva\DBRESERVA.LDF' , SIZE = 15360KB , MAXSIZE = 512000KB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbreserva].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbreserva]
GO
/****** Object:  Table [dbo].[aerolinea]    Script Date: 14/04/2017 13:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[aerolinea](
	[idaerolinea] [int] NOT NULL,
	[ruc] [char](11) NOT NULL,
	[nombre] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idaerolinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[aeropuerto]    Script Date: 14/04/2017 13:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[aeropuerto](
	[idaeropuerto] [char](5) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[idpais] [char](4) NOT NULL,
 CONSTRAINT [PK_AEROPUERTO_PAIS] PRIMARY KEY NONCLUSTERED 
(
	[idaeropuerto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_AEROPUERTO_NOMBRE] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[asiento]    Script Date: 14/04/2017 13:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[asiento](
	[idasiento] [int] NOT NULL,
	[letra] [char](2) NOT NULL,
	[fila] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idasiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[avion]    Script Date: 14/04/2017 13:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[avion](
	[idavion] [char](5) NOT NULL,
	[idaerolinea] [int] NOT NULL,
	[fabricante] [varchar](40) NULL,
	[tipo] [varchar](30) NOT NULL,
	[capacidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idavion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pago]    Script Date: 14/04/2017 13:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pago](
	[idpago] [int] IDENTITY(1,1) NOT NULL,
	[idreserva] [int] NOT NULL,
	[fecha] [date] NULL,
	[idpasajero] [char](8) NOT NULL,
	[monto] [money] NOT NULL,
	[tipo_comprobante] [varchar](20) NOT NULL,
	[num_comprobante] [varchar](15) NOT NULL,
	[impuesto] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idpago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pais]    Script Date: 14/04/2017 13:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pais](
	[idpais] [char](4) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idpais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pasajero]    Script Date: 14/04/2017 13:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pasajero](
	[idpasajero] [char](8) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[apaterno] [varchar](20) NOT NULL,
	[amaterno] [varchar](20) NOT NULL,
	[tipo_documento] [varchar](30) NOT NULL,
	[num_documento] [varchar](12) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[idpais] [char](4) NOT NULL,
	[telefono] [varchar](15) NULL,
	[email] [varchar](50) NOT NULL,
	[clave] [varchar](20) NOT NULL,
 CONSTRAINT [PK__pasajero__FB4104BE39C9E7CE] PRIMARY KEY CLUSTERED 
(
	[idpasajero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__pasajero__AB6E6164AAC143A3] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[reserva]    Script Date: 14/04/2017 13:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[reserva](
	[idreserva] [int] NOT NULL,
	[costo] [money] NOT NULL,
	[fecha] [date] NULL,
	[observacion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[idreserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tarifa]    Script Date: 14/04/2017 13:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tarifa](
	[idtarifa] [int] NOT NULL,
	[clase] [varchar](20) NOT NULL,
	[precio] [money] NOT NULL,
	[impuesto] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idtarifa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[clase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vuelo]    Script Date: 14/04/2017 13:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vuelo](
	[idasiento] [int] NOT NULL,
	[idaeropuerto] [char](5) NOT NULL,
	[idreserva] [int] NOT NULL,
	[idavion] [char](5) NOT NULL,
	[idtarifa] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idasiento] ASC,
	[idaeropuerto] ASC,
	[idreserva] ASC,
	[idavion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[pago] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[reserva] ADD  CONSTRAINT [DFL_RESERVA_FECHA]  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[aeropuerto]  WITH CHECK ADD  CONSTRAINT [FK_AEROPUERTO_PAIS] FOREIGN KEY([idpais])
REFERENCES [dbo].[pais] ([idpais])
GO
ALTER TABLE [dbo].[aeropuerto] CHECK CONSTRAINT [FK_AEROPUERTO_PAIS]
GO
ALTER TABLE [dbo].[avion]  WITH CHECK ADD  CONSTRAINT [FK_AVION_AEROLINEA] FOREIGN KEY([idaerolinea])
REFERENCES [dbo].[aerolinea] ([idaerolinea])
GO
ALTER TABLE [dbo].[avion] CHECK CONSTRAINT [FK_AVION_AEROLINEA]
GO
ALTER TABLE [dbo].[pago]  WITH CHECK ADD  CONSTRAINT [FK_PAGO_PASAJERO] FOREIGN KEY([idpasajero])
REFERENCES [dbo].[pasajero] ([idpasajero])
GO
ALTER TABLE [dbo].[pago] CHECK CONSTRAINT [FK_PAGO_PASAJERO]
GO
ALTER TABLE [dbo].[pago]  WITH CHECK ADD  CONSTRAINT [FK_PAGO_RESERVA] FOREIGN KEY([idreserva])
REFERENCES [dbo].[reserva] ([idreserva])
GO
ALTER TABLE [dbo].[pago] CHECK CONSTRAINT [FK_PAGO_RESERVA]
GO
ALTER TABLE [dbo].[pasajero]  WITH CHECK ADD  CONSTRAINT [FK_PASAJERO_PAIS] FOREIGN KEY([idpais])
REFERENCES [dbo].[pais] ([idpais])
GO
ALTER TABLE [dbo].[pasajero] CHECK CONSTRAINT [FK_PASAJERO_PAIS]
GO
ALTER TABLE [dbo].[vuelo]  WITH CHECK ADD  CONSTRAINT [FK_VUELO_AEROPUERTO] FOREIGN KEY([idaeropuerto])
REFERENCES [dbo].[aeropuerto] ([idaeropuerto])
GO
ALTER TABLE [dbo].[vuelo] CHECK CONSTRAINT [FK_VUELO_AEROPUERTO]
GO
ALTER TABLE [dbo].[vuelo]  WITH CHECK ADD  CONSTRAINT [FK_VUELO_ASIENTO] FOREIGN KEY([idasiento])
REFERENCES [dbo].[asiento] ([idasiento])
GO
ALTER TABLE [dbo].[vuelo] CHECK CONSTRAINT [FK_VUELO_ASIENTO]
GO
ALTER TABLE [dbo].[vuelo]  WITH CHECK ADD  CONSTRAINT [FK_VUELO_AVION] FOREIGN KEY([idavion])
REFERENCES [dbo].[avion] ([idavion])
GO
ALTER TABLE [dbo].[vuelo] CHECK CONSTRAINT [FK_VUELO_AVION]
GO
ALTER TABLE [dbo].[vuelo]  WITH CHECK ADD  CONSTRAINT [FK_VUELO_RESERVA] FOREIGN KEY([idreserva])
REFERENCES [dbo].[reserva] ([idreserva])
GO
ALTER TABLE [dbo].[vuelo] CHECK CONSTRAINT [FK_VUELO_RESERVA]
GO
ALTER TABLE [dbo].[vuelo]  WITH CHECK ADD  CONSTRAINT [FK_VUELO_TARIFA] FOREIGN KEY([idtarifa])
REFERENCES [dbo].[tarifa] ([idtarifa])
GO
ALTER TABLE [dbo].[vuelo] CHECK CONSTRAINT [FK_VUELO_TARIFA]
GO
ALTER TABLE [dbo].[pago]  WITH CHECK ADD  CONSTRAINT [CHK_PAGO_FECHA] CHECK  (([fecha]<=getdate()))
GO
ALTER TABLE [dbo].[pago] CHECK CONSTRAINT [CHK_PAGO_FECHA]
GO
USE [master]
GO
